## Claim Data Vizualization & Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load Dataset

In [2]:
df = pd.read_csv('../data/claims_data.csv')

In [10]:
df.shape

(1000, 5)

## Dataset Firstlook

In [11]:
df.head()

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

## Check For Null/Missing Values

In [12]:
df.isna().sum()

Claim_ID       0
Food_ID        0
Receiver_ID    0
Status         0
Timestamp      0
dtype: int64

## Dataset Information

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     1000 non-null   int64
 1   Food_ID      1000 non-null   int64
 2   Receiver_ID  1000 non-null   int64
 3   Status       1000 non-null   object
 4   Timestamp    1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

## Describe Dataset

In [14]:
df.describe()

          Claim_ID      Food_ID  Receiver_ID
count  1000.000000  1000.000000  1000.000000
mean    500.500000   502.163000   492.437000
std     288.819436   292.462255   284.487869
min       1.000000     1.000000     1.000000
25%     250.750000   233.750000   256.000000
50%     500.500000   504.500000   480.500000
75%     750.250000   762.000000   742.250000
max    1000.000000   999.000000  1000.000000

## Check For Duplicate Values

In [15]:
df.duplicated().sum()

np.int64(0)

## Strip spaces from columns names

In [16]:
df.columns = df.columns.str.strip()

## Ensure IDs are integers

In [17]:
df[['Claim_ID', 'Food_ID', 'Receiver_ID']] = df[['Claim_ID', 'Food_ID', 'Receiver_ID']].astype(int)

## Claim Status distribution

In [18]:
status_counts = df['Status'].value_counts()